* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

.form-data {
    display: flex;
    flex-direction: row;
}

label, input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

label {
    margin-top: 12px;
}

.form-text {
    width: 665px;
    height: 100px;
}

.container {
    display: flex; 
}

